[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
flask-restful = "*"
flask-marshmallow = "*"
pymysql = "*"
pyota = "*"
numpy = "*"
authlib = "*"
loginpass = "*"

[requires]
python_version = "3.6"
