-i https://pypi.org/simple
aniso8601==6.0.0
asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
class-registry==2.1.2
click==7.0
cryptography==2.7
filters==1.3.2
flask-marshmallow==0.10.1
flask-restful==0.3.7
flask==1.0.3
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
marshmallow==2.19.2
numpy==1.16.4
pycparser==2.19
pymysql==0.9.3
pyopenssl==19.0.0
pyota==2.0.7
pysha3==1.0.2
python-dateutil==2.8.0
pytz==2019.1
regex==2019.6.5
requests[security]==2.22.0
six==1.12.0
urllib3==1.25.3
werkzeug==0.15.4
